<div class="row p-5">
  <div class="col-12 text-center mb-5"><h5>Gabriel Garcia Marquez</h5></div>
  <div class="col-12">
    <div class="row mb-3">
      <div class="col"></div>
      <div class="col-3 "><b>Usuario</b></div>
      <div class="col-3  text-right">ggarcia_777</div>
      <div class="col"></div>
    </div>
    <div class="row mb-3">
      <div class="col"></div>
      <div class="col-3 "><b>Fecha de Creacion</b></div>
      <div class="col-3 text-right">23/11/2025</div>
      <div class="col"></div>
    </div>
    <div class="row mb-3">
      <div class="col"></div>
      <div class="col-3 "><b>Perfil</b></div>
      <div class="col-3 text-right">Administrador General</div>
      <div class="col"></div>
    </div>
    <div class="row mb-3">
      <div class="col"></div>
      <div class="col-3 "><b>Correo</b></div>
      <div class="col-3 text-right">ggarcia@hobbia.com.pe</div>
      <div class="col"></div>
    </div>
  </div>
</div>
