
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-12">
      <div class="card p-2 bg-primary">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
          <h4 class="card-title text-white">Modulos Examanes: Pruebas Y Evaluaciones</h4>
          <p class="card-text text-white">Modulo donde se podrá modificar o dar seguimiento a ciertas evaluaciones desarrolladas a cierto tipo de actividad</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-4">
      <div class="card card-150">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
          <h4 class="card-title text-primary text-center">Evaluaciones Actualmente Operativas</h4>
          <p class="card-text text-center">60</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card card-150">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
          <h4 class="card-title text-primary text-center">Evaluaciones En Mantenimiento</h4>
          <p class="card-text text-center">12</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card card-150">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
          <h4 class="card-title text-primary text-center">Evaluaciones Mas Usadas</h4>
          <p class="card-text text-center">5</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-5">
      <span class="h3">Lista de Examenes</span>
    </div>
    <div class="col-12 mt-4">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Nombre</th>
              <th>Fecha Creacion</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b>f0001</b></td>
              <td>Formulario de Actividades Fisicas</td>
              <td>2025/11/23</td>
              <td>
                <button type="button" (click)="IrARealizarCuestionario()" class="btn btn-info p-1 m-1">!<i class="fa fa-eye"></i></button>
                <button type="button" (click)="IrAEditarCuestionario()" class="btn btn-warning p-1">!<i class="fa fa-pencil"></i></button>
              </td>
            </tr>
            <tr>
              <td><b>f0002</b></td>
              <td>Formulario de Actividades Psicologicas</td>
              <td>2025/11/23</td>
              <td>
                <button type="button" (click)="IrARealizarCuestionario()" class="btn btn-info p-1 m-1">!<i class="fa fa-eye"></i></button>
                <button type="button" (click)="IrAEditarCuestionario()" class="btn btn-warning p-1">!<i class="fa fa-pencil"></i></button>
              </td>
            </tr>
            <tr>
              <td><b>f0003</b></td>
              <td>Formulario de Actividades Estretegicas</td>
              <td>2025/11/23</td>
              <td>
                <button type="button" (click)="IrARealizarCuestionario()" class="btn btn-info p-1 m-1">!<i class="fa fa-eye"></i></button>
                <button type="button" (click)="IrAEditarCuestionario()" class="btn btn-warning p-1">!<i class="fa fa-pencil"></i></button>
              </td>
            </tr>
            <tr>
              <td><b>f0004</b></td>
              <td>Formulario de Pensamiento Intuitivo</td>
              <td>2025/11/23</td>
              <td>
                <button type="button" (click)="IrARealizarCuestionario()" class="btn btn-info p-1 m-1">!<i class="fa fa-eye"></i></button>
                <button type="button" (click)="IrAEditarCuestionario()" class="btn btn-warning p-1">!<i class="fa fa-pencil"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
