
<div class="container-fluid d-flex justify-content-center align-items-center vh-100" [style.background-image] = "'url('+imagebackground+')'">
<div class="card p-4 shadow" style="width: 22rem;">
<h4 class="text-center mb-4">Hobb<b>IA</b></h4>

<div class="mb-5">
<label for="email" class="form-label" style="color: rgb(21, 47, 161);"><b>Correo</b></label>
<input type="email" class="form-control" id="email" placeholder="Ingrese su Usuario">
<button type="submit" class="btn btn-primary mt-3 w-100">Enviar Codigo al Correo</button>
</div>
<div class="mb-3">
<label for="password" class="form-label" style="color: rgb(21, 47, 161);"><b>Ingrese el código enviado al Correo</b></label>
<div class="row">
  <div class="col-3">
    <input type="text" maxlength="1" class="text-center form-control w-100" id="item1" placeholder="-">
  </div>
  <div class="col-3">
    <input type="text" class="text-center form-control" id="item2" placeholder="-">
  </div>
  <div class="col-3">
    <input type="text" class="text-center form-control" id="item3" placeholder="-">
  </div>
  <div class="col-3">
    <input type="text" class="text-center form-control" id="item4" placeholder="-">
  </div>
</div>
</div>
<br/>
<p class="text-center mt-3">
<a routerLink="/login" style="color: rgb(21, 47, 161);">Regresar</a>
</p>
</div>
</div>

