<div class="row" >
  <div class="col-12 mb-4">
    <h2>Nuevo Cuestionario</h2>
  </div>
  <div class="col-12 mb-2">
    <h4>Añadir pregunta</h4>
  </div>
  <div class="col-6 mb-2">
    <div class="row">
      <div class="col-12">
        Ingrese el texto de la pregunta
      </div>
      <div class="col-12 mt-2">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        Ingrese las Opciones
      </div>
      <div class="col-9 mt-2">
        <input type="text" class="form-control">
      </div>
      <div class="col-3 mt-2 text-center">
        <button class="btn btn-success"><i class="fa fa-plus"></i></button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <button class="btn btn-outline-success w-100">Crear Cuestionario</button>
      </div>
    </div>
  </div>
  <div class="col-6 mb-2">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>
                  Texto Pregunta
                </th>
                <th>
                  Opciones Elegibles
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center">
                <td colspan="2">Ingrese porfavor una nueva pregunta</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
