.table-custom {
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }
    .table-custom thead {
      background: linear-gradient(90deg, #0d6efd, #0a58ca);
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .table-custom tbody tr:nth-child(even) td {
      background-color: #f8f9fa; /* gris muy claro */
    }
    .table-custom tbody tr:nth-child(odd) td {
      background-color: #ffffff; /* blanco */
    }
    .table-custom tbody td {
      color: #0d6efd;
      font-weight: 500;
    }
    .table-custom tbody tr:hover td {
      background-color: #e7f1ff; /* azul muy claro al hover */
      transition: 0.3s;
    }

.heigth-225
{
  height: 225px;
}
