<div class="row p-5">
  <div class="col-12 text-center mb-5"><h5>Gabriel Garcia Marquez</h5></div>
  <div class="col-12">
    <div class="row mb-3">
      <div class="col"></div>
      <div class="col-3 "><b>Usuario</b></div>
      <div class="col-3  text-right">ggarcia_777</div>
      <div class="col"></div>
    </div>
    <div class="row mb-3">
      <div class="col"></div>
      <div class="col-3 "><b>Fecha de Creacion</b></div>
      <div class="col-3 text-right"><input type="date" class="form-control" [value]="23-11-2025"/></div>
      <div class="col"></div>
    </div>
    <div class="row mb-3">
      <div class="col"></div>
      <div class="col-3 "><b>Perfil</b></div>
      <div class="col-3 text-right">
        <select class="form-control">
          <option value="">Administrador General</option>
          <option value="">Creador de Formularios</option>
          <option value="">Visualizador</option>
        </select>
      </div>
      <div class="col"></div>
    </div>
    <div class="row mb-3">
      <div class="col"></div>
      <div class="col-3 "><b>Correo</b></div>
      <div class="col-3 text-right"><input type="text" class="form-control" placeholder="ggarcia@hobbia.com.pe"></div>
      <div class="col"></div>
    </div>
    <div class="row mt-5">
      <div class="col"></div>
      <div class="col-6"><button class="btn btn-success w-100">Guardar</button></div>
      <div class="col"></div>
    </div>
  </div>
</div>
